{% extends "header.html" %}
{% block body %}
<div style="padding:50px">
</div>
  <div class="container">
	<h1>About</h1>
	<hr>
<p>Project Bazinga is a global programming community.  We host contests,  trainings and events for programmers around the world.  Our goal is to  provide a platform for programmers everywhere to meet, compete, and have  fun.  Project Bazinga is a noncommercial organization operated by a bunch of students studying in IIT Guwahati</p>
<hr>
<h3>The Community</h3>
<hr>
<p>Project Bazinga is not just a contest platform - it's a community for aspiring programmers.</p>
<ul>
<li>We post such questions on Project Bazinga which pull the user's interest in programming.</li>
<li>We host events online and in person.</li>
<li>"Following" feature makes the user get social with other programmers. </li>
<li>Discussion modules for all questions makes the logic and doubts behind the questions clear.</li>
<li>Our Facebook Group and page help everyone stay updated and connected.</li>
</ul>
<p style="text-align: justify;">Many people worldwide have joined Project Bazinga so far, and we're always looking for more.</p>
<hr>
<h3><b>The IIT-Gians</b></h3>
<hr>
<p>Project Bazinga is a noncommercial Educational Initiative  from students of department of CSE,IIT Guwahati, a very profound technical institute in India.   With Project Bazinga, we aim to create a global community that fosters learning  and friendly competition.  As we are based in India, we take extra  steps to encourage the programming community here.
<hr><h3><b>The Contest Organizers</b></h3><hr>
<p>Project Bazinga relies on its dedicated community to help us run the site. If you are interested in holding a contest for your company or organization, feel free to contact us to become moderators.</p>
<hr><h3>Contact</h3><hr>
<p>If you have any suggestions on how we can make Project Bazinga better, or if  you have any questions, please don't hesitate to get in touch. Just use  <a href="mailto:feedback@bazinga.com">feedback@bazinga.com</a>.</p>  </div>

  </div>
</body>


</html>
{% endblock %}
