{% extends "admin_header.html" %}
{% block body %} 
{% if not session.admin_logged_in %}
<div class="container">
  <h3>Login</h3>
  <hr />
  <div class="container">
    <div class="row">
      <div class="span4 offset4 well">
        <legend>Please Sign In</legend>
        {% if error %}
              <div class="alert alert-error">
                  <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
              </div>
        {% endif %}
        <form method="POST" action="/admin" accept-charset="UTF-8">
        <input type="text" id="username" class="span4" name="username" placeholder="Username">
        <input type="password" id="password" class="span4" name="password" placeholder="Password">
              <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
              </label>
        <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
        </form>    
      </div>
    </div>
  </div>
</div>
<hr />
{% else %} 
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="static/images/S1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
            <h1>Welcome To Project Bazinga</h1>
            <p class="lead">The Online Coding Portal</p>  
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/images/S2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
             <h1>Code,Socialize And Follow Top Coders</h1>
            <p class="lead">One place to do it all</p>   
              
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/images/bg3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              
              
             
            </div>
          </div>
        </div>
      </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Prepare Challenges</h2>
          <p>Prepare the challanges, Put in your question, testcases and see people solve them.It's that simple.</p>
          <p><a class="btn" href="/admin/contest">Start Now &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Watch Discussions</h2>
          <p>Have a look at what's cooking hot in the brain of coding community.</p>
          <p><a class="btn" href="/discuss">View Discussions &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>About Us</h2>
          <p>Project Bazinga is a open source project to help people improve their coding skills and help companies to hire better coders</p>
          <p><a class="btn" href="/about">Know more &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-right" src="static/images/1.jpg">
        <h2 class="featurette-heading">Why Project Bazinga ? <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Want to hire great coders, tired of useless programmers and time consuming interviews,
                        select the best of programmers with the help of Project Bazinga.Get the best of coders for your organization.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="static/images/2.jpg">
        <h2 class="featurette-heading">Multiple submissions. <span class="muted">Great set of problems</span></h2>
        <p class="lead">Project Bazinga supports Python, C and C++ programming languages for you. It's a coding portal for one and all.
                        Multiple Submissions and no limit on test cases for the question setters, tricky problems with enjoyable solutions.
                        Give the best problems you can think of, with as many test cases you want!!! </p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="static/images/3.png">
        <h2 class="featurette-heading">Follow other coders. <span class="muted">Discuss your problems</span></h2>
        <p class="lead">Project Bazinga provides a platform for  discussion were you get to ask questions about problems
                        and clear doubts. See what is hot in the coders community and how their minds work and get the best of Coders.</p>
      </div>

      <hr class="featurette-divider">
{% endif %}
{% endblock %}
