<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project Bazinga | IIT Guwahati</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Coding Portal" content="">
    <meta name="IIT Guwahati" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/editor.css') }}" rel="stylesheet">
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/ico/favicon.png">
  </head>

  <body>

    {% if session.admin_logged_in %}
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Project Bazinga</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"> <a href="/admin"><i class="icon-home icon-white"></i>&nbsp; Home</a></li>
                <li><a href="/admin/contest"><i class="icon-pencil icon-white"></i>&nbsp; Organize Contest</a></li>  
                <li><a href="/admin/contests"><i class="icon-road icon-white"></i>&nbsp; View Contests</a></li>
              </ul>
              <!-- Login  -->
              <ul class="nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle " data-toggle="dropdown"> Welcome, {{ session.admin_username }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-search"> </i> &nbsp; Search Users</a></li>
                    <li class="divider"></li>
                    <li><a href="/admin/logout"><i class="icon-off"></i> &nbsp; Signout</a></li>
                    <li><a href="/change"><i class="icon-cog"></i> &nbsp; Change Password</a></li>
                  </ul>
                  </ul>
                </li>
              </ul>
              <!-- / Login  -->
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
          {% if error %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>{{error}}
            </div>
          {% endif %}
          {% if message %}
            <div class="alert alert-info">
              <a class="close" data-dismiss="alert" href="#">×</a> {{message}}
            </div>
          {% endif %}
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
         {% endif %}
      {% block body %}
      {% endblock %}
     <!-- FOOTER -->

     <div id="footer">
     <div class="container ">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Project Bazinga, Inc. &middot; <a href="#">About</a> &middot; <a href="#">Careers</a> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="contact">Contact Us</a> &middot; <a href="admin">Organizers</a> &middot;</p>
      </footer>
    </div>
    <div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/src/ace.js') }}"></script> -->
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>


  </body>
</html>