{% extends "header.html" %}
{% block body %}  
<div style="margin:100px">
</div>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <form class="form-horizontal" action='' method="POST">
    <fieldset>
      <div id="legend">
        <legend class=""><h2>Change your Password</h2></legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
          <p class="help-block">Username can contain any letters or numbers, without spaces</p>
        </div>
      </div>
      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">Current Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
          <p class="help-block">Password should be at least 4 characters</p>
        </div>
      </div>
      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">New Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
          <p class="help-block">Password should be at least 4 characters</p>
        </div>
      </div>
      <div class="control-group">
        <!-- Password -->
        <label class="control-label"  for="password_confirm">Confirm Password </label>
        <div class="controls">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
          <p class="help-block">Please confirm password</p>
        </div>
      </div>   
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Reset Password</button>
        </div>
      </div>
    </fieldset>
  </form>
<div>
{% endblock %}

