{% extends "admin_header.html" %}
{% block body %} 
{% if not session.admin_logged_in %}
<div class="container">
  <h3>Login</h3>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <hr />
  <div class="container">
    <div class="row">
      <div class="span4 offset4 well">
        <legend>Please Sign In</legend>
              <div class="alert alert-error">
                  <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
              </div>
        <form method="POST" action="/admin" accept-charset="UTF-8">
        <input type="text" id="username" class="span4" name="username" placeholder="Username">
        <input type="password" id="password" class="span4" name="password" placeholder="Password">
              <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
              </label>
        <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
        </form>    
      </div>
    </div>
  </div>
</div>
<hr />
{% else %}
<div style="padding:54px">
</div>
<div class="container">
  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab">Contest Details</a></li>
        <li><a href="#pane2" data-toggle="tab">Question Details</a></li>
      </ul>
      <div class="tab-content">
          <div id="pane1" class="tab-pane active">
              <form class="form-horizontal" action="/admin/contest/edit/{{ contest.contest_id }}" method="POST">
                <fieldset>
                  <div id="legend">
                    <legend class=""><h2>Edit Contest Details</h2></legend>
                  </div>   
                      <input type="hidden" id="contestno" name="contestno"  value="{{ contest.contest_id}}" class="input-xlarge">
                  <div class="control-group">
                    <!-- Contest Name -->
                    <label class="control-label"  for="contestname">Contest Name</label>
                    <div class="controls">
                      <input type="text" id="contestname" name="contestname"  value="{{ contest.name}}" class="input-xlarge">  
                    </div>
                  </div>
                  <input type="hidden" id="company" name="company" value="{{ contest.organization }}" class="input-xlarge">
               
                  <div class="control-group">
                    <!-- Start Time -->
                    <label class="control-label" for="start-time">Start Time</label>
                    <div class="controls">
                      <input type="datetime" id="start-time" name="start-time" value="{{ contest.start_time}}" class="input-xlarge">
                      <p class="help-block">Format should be YYYY-MM-DD HH:MM:SS</p>
                    </div>
                  </div>
               
                  <div class="control-group">
                    <!-- End Time-->
                    <label class="control-label" for="end-time">End Time</label>
                    <div class="controls">
                      <input type="datetime" id="end-time" name="end-time" value="{{ contest.end_time}}" class="input-xlarge">
                      <p class="help-block">Format should be YYYY-MM-DD HH:MM:SS</p>
                    </div>
                  </div>
               
                  <div class="control-group">
                    <!-- Short Description -->
                    <label class="control-label"  for="shortdesc">Short Description </label>
                    <div class="controls">
                      <input type="text" id="shortdesc" name="shortdesc" value="{{ contest.short_description}}" class="input-xlarge">
                      <p class="help-block">Provide short description</p>
                    </div>
                  </div>

            <div class="control-group">
                    <!-- Long Description -->
                    <label class="control-label"  for="longdesc">Long Description </label>
                    <div class="controls">
                      <input type="text" id="longdesc" name="longdesc" value="{{ contest.long_description}}" class="input-xlarge">
                      <p class="help-block">Provide long description</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                      <button class="btn btn-success">Save Edited Contest</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div id="pane2" class="tab-pane">
              {% for question in questions %}
                <form class="form-horizontal" action="/admin/question/edit/{{ question.question_id }}" method="POST">
                  <fieldset>
                    <div id="legend">
                      <legend class=""><h4>{{ question.question_name }}</h2></legend>
                    </div>   
                    <input type="hidden" name="question_id"  value="{{ question.question_id}}" >
                    <div class="control-group">
                    <!-- Questions -->
                      <label class="control-label">Question</label>
                      <div class="controls">
                          <input class="input-xlarge" name="question_name" type="text" value="{{question.question_name}}"><br><br>
                          <textarea class="input-xlarge" name="question_desc" type="text" rows="5" >{{question.question_string}}</textarea> 
                      </div>           
                    </div>
                    <div class="control-group">
                      <!-- Button -->
                      <div class="controls">
                        <button class="btn btn-success">Save Question</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              {% endfor %}
            </div>
          </div>
        </div>
  
<div>
{% endif %}
{% endblock %}
