{% extends "admin_header.html" %}
{% block body %} 
{% if not session.admin_logged_in %}
<div class="container">
  <h3>Login</h3>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <hr />
  <div class="container">
    <div class="row">
      <div class="span4 offset4 well">
        <legend>Please Sign In</legend>
              <div class="alert alert-error">
                  <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
              </div>
        <form method="POST" action="/admin" accept-charset="UTF-8">
        <input type="text" id="username" class="span4" name="username" placeholder="Username">
        <input type="password" id="password" class="span4" name="password" placeholder="Password">
              <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
              </label>
        <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
        </form>    
      </div>
    </div>
  </div>
</div>
<hr />
{% else %}
<div style="padding:50px">
</div>
<div class="container marketing">
  <div class="page-header">
    <h2>List of Contests</h2>
  </div>
  <div class="row">
    {% for contest in contests %}
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2><a href="/admin/contest/edit/{{contest.contest_id}}" >{{ contest.name }}</a></h2>
      <p>{{ contest.short_description }}</p>
      <p><a class="btn" href="/admin/contest/edit/{{contest.contest_id}}">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    {% endfor %}
  </div><!-- /.row -->
{% endif %}
{% endblock %}
