{% set page=0 %}
{% extends "header.html" %}
{% block body %}  
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="static/images/S1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
            <h1>Welcome To Project Bazinga</h1>
            <p class="lead">The Online Coding Portal</p>  
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/images/S2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
             <h1>Code,Socialize And Follow Top Coders</h1>
            <p class="lead">One place to do it all</p>   
              
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/images/bg3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              
              
             
            </div>
          </div>
        </div>
      </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Start To Code</h2>
          <p>Glance through the challanges, choose your question , and code.It's that simple.</p>
          <p><a class="btn" href="/code">Start Now &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Start A Discussion</h2>
          <p>Have a problem or doubt in mind, put it in our discussion module or take a glance through it to find some intersting problems of different people</p>
          <p><a class="btn" href="/discuss">View Discussions &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>About Us</h2>
          <p>Project Bazinga is a open source project to help people improve their coding skills and help companies to hire better coders</p>
          <p><a class="btn" href="/about">Know more &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-right" src="static/images/1.jpg">
        <h2 class="featurette-heading">Why Project Bazinga ? <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Love to code, want  your skills to be tested, Project Bazinga is the place for you.
                        A fine set of problem to code and a sleek text editor, fast compilation and evaluation guaranted,
                        and that's not all, you can also socialise with other coders, and most of all have lot of fun!!</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="static/images/2.jpg">
        <h2 class="featurette-heading">Multiple submissions. <span class="muted">Great set of problems</span></h2>
        <p class="lead">Project Bazinga supports Python, C and C++ programming languages for you. It's a coding portal for one and all.
                        Multiple Submissions and no limit on test cases for the question setters, tricky problems with enjoyable solutions.
                        Crack and code tough problems, participate in different competitions , get famous and make the hirers come running to you.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="static/images/3.png">
        <h2 class="featurette-heading">Follow other coders. <span class="muted">Discuss your problems</span></h2>
        <p class="lead">Project Bazinga provides a platform for  discussion were you get to ask questions about problems
                        and clear your doubts, follow the top people and learn from them, get together with other coders
                        find better solutions and make yourself one of the BEST.</p>
      </div>

      <hr class="featurette-divider">
{% endblock %}
