{% extends "header.html" %}
{% block body %}
<div style="margin:100px">
</div>
<div class="container marketing">
  <form class="form-horizontal" action="{{ url_for('.editing') }}" method="POST" enctype="multipart/form-data">
    <fieldset>
      <div id="legend">
        <legend class=""><h2>Edit Profile</h2></legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" name="username"  value="{{ user.username }}" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- Fullname -->
        <label class="control-label"  for="name">Full Name</label>
        <div class="controls">
          <input type="text" id="name" name="name"  value="{{ user.name }}" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input type="text" id="email" name="email"  value="{{ user.email }}" class="input-xlarge">
        </div>
      </div> 


      <div class="control-group">
        <!-- Contact -->
        <label class="control-label" for="contact">Contact</label>
        <div class="controls">
          <input type="text" id="contact" name="contact"  value="{{ user.contact }}" class="input-xlarge">
        </div>
      </div> 

      <div class="control-group">
        <!-- Website -->
        <label class="control-label" for="website">Website</label>
        <div class="controls">
          <input type="text" id="webiste" name="website"  value="{{ user.website }}" class="input-xlarge">
        </div>
      </div> 

      <div class="control-group">
        <!-- Profession -->
        <label class="control-label" for="website">Profession</label>
        <div class="controls">
          <input type="text" id="profession" name="profession"  value="{{ user.profession }}" class="input-xlarge">
        </div>
      </div> 

      <div class="control-group">
        <!-- Organization -->
        <label class="control-label" for="organization">Organization</label>
        <div class="controls">
          <input type="text" id="organization" name="organization"  value="{{ user.organization }}" class="input-xlarge">
        </div>
      </div> 

      <div class="control-group">
        <!-- Resume -->
        <label class="control-label" for="resume">Resume</label>
        <div class="controls">
          <input type="file" id="resume" name="resume"  class="input-xlarge">
        </div>
      </div> 

      <div class="control-group">
        <!-- Profile Picture -->
        <label class="control-label" for="picture">Picture</label>
        <div class="controls">
          <input type="file" id="picture" name="picture" class="input-xlarge">
        </div>
      </div> 

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Save Profile</button>
        </div>
      </div>
    </fieldset>
  </form>
<div>
{% endblock %}
