{% extends "header.html" %}
{% block body %} 
<div style="margin:100px">
</div>
<div class = "container" >
	<div class="page-header">
		<h2>{{ user.username }} | {{ user.name }}</h2>
	</div>
	{% if flag==1 %}
	<a href="/profile/edit">edit</a>
	<a href="/profile/follow">stalking mode</a>
	{% endif %}
	{% if flag==0 %}
	<h2><a href="/follow_unfollow/{{user.user_id}}/0">unfollow</a></h2>
	{% endif %}
	{% if flag==2 %}
	<h2><a href="/follow_unfollow/{{user.user_id}}/1">follow</a></h2>
	{% endif %}
	<h2>{{ user.name }}</h2>
	<h2>{{user.age}}</h2>
	<h2>{{path}}</h2>

</div>
{% endblock %}