{% extends "header.html" %}
{% block body %}  
<div style="padding:50px">
</div>
<div class="container">
  <div class="page-header">
    <a href="/discuss/show/answers/{{ques.question_id}}"><h3>Q: {{ques.title}}</h3></a><hr>
    <p>{{ques.question}}</p>
    <div>
      <span class="badge badge-success">Posted on {{ ques.time }}</span>
    </div>
  </div> 
  {% if session.logged_in %} 
  <form action="{{ url_for('.add_answer') }}" method='GET' >
   <div class="controls">
            <textarea id="message" name="answer" class="container" placeholder="Type Your Answer Here" rows="3"></textarea>
   </div>
   <input type='text' name='q_id' value={{ ques.question_id }} style = 'display:none' />
   <div class="controls">
     <button id="contact-submit" type="submit" class="btn btn-primary input-large pull-right">Answer This Question</button>
   </div>
  </form>         
  {% endif %}
  <legend ><h4>See Answers</h4></legend>
  {% for text in entries %}
    <div >
        <p>{{text.answer}}</p>
      <div>
        <span class="badge badge-success">Answered on {{ text.time }}</span><div class="pull-right"><a href="/profile/{{name.user_id}}"><span class="label">Answered By : <span class="label">{{name.username}}</span></a></div>
    </div>  
    <hr>
    {% endfor %}    
  </div>
{% endblock %}
