{% extends "header.html" %}
{% block body %} 

<div style="margin:100px">
</div>
<div class="container">
	<div class="page-header" >
		<h3 >{{ question.question_name }} | {{ contest.name }} </h3>
	</div>
	
	<legend > Description : </legend> {{ question.question_string|safe }} </p>
	<hr> 
	{% if session.logged_in %}
	<h4>Submit Code</h4>
	<hr>

	<ul id="langTab" class="nav nav-pills">
		<li class="active">
			<a id="py" lname="python" href="#">Python</a>
		</li>
		<li><a id="cpp" lname="c_cpp" href="#">C++</a></li>
		<li><a id="c" lname="c_cpp" href="#">C</a></li>
	</ul>
	<div id="editor"></div>
	<form id="codeform" method='POST' action=''>
		
		<input name="lang" id="lang" type="hidden"/>
		<input name="code" id="code" type="hidden"/>
		<hr class="separator" />

		<input class="btn " type="submit" id="submit" value="Submit">
	</form>
	<hr class="separator" />
	<div id="comms" >

	</div>
	{% else %}
	<p> Please login to sumbit the solution </p>
	{% endif %}

</div><!-- /.tabbable -->

<script src="{{ url_for('static', filename='js/src/ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript">
var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/python");

    $(document).ready( function(){
    	$('#langTab a').click(function (e) {
 			e.preventDefault();
 			$("#lang").val(this.id);
 			console.log($("#lang").val())
			editor.getSession().setMode("ace/mode/" + $(this).attr("lname")); 			
 			$(this).tab('show');
		});
		$("#codeform").submit(function(){
			$("#code").val(editor.getValue());
			//alert($("#code").text())
			console.log($("#code").text());
			return true;
		});

		$.ajax({
		  type: "GET",
		  url: "{{ url_for('question_comments.show_question_comments', id=question.question_id) }}"
		}).done(function( msg ) {
		  //alert( "Data Saved: " + msg );
		  $("#comms").html(msg);
		});

    });

</script>

{% endblock %}
