{% extends "header.html" %}
{% block body %} 
<div style="margin:100px">
</div>
<div class="container">
	<div class="page-header" >
		<h3 >{{ question.question_name }} | {{ contest.name }} </h3>
	</div>
	<p > <b>Description : </b> {{ question.question_string }} </p>
	<p > <b>Sample Test Case : </b> {{ question.question_name }} </p>
	<hr> <h4>Submit Code</h4>
	<hr>

	<form method='POST' action=''>
		<pre id="editor" class="container"></pre>
		<input class="btn " type="submit" id="submit" value="Submit">
	</form>

</div><!-- /.tabbable --> 
{% endblock %}
