

{% extends "header.html" %}
{% block body %}  
<div style="margin:100px">
</div>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
  <div class="span7">
  	<div class="accordion" id="submissions">
  	{% for sub in subs %}
  		<div class="accordion-group">
  		<div class="accordion-heading">
  		<a class="accordion-toggle" data-toggle="collapse" data-parent="#submissions" href="#{{ sub[0].id }}" >
  			Submission {{ sub[0].id }}
  		</a>
  		</div>
  		<div id="{{ sub[0].id }}" class="accordion-body collapse">
  		<div class="accordion-inner">
  			<pre class="pre-scrollable">
{{ sub[0].code }}
  			</pre>
  		{% for tc in sub[1] %}
  		{% set count=0 %}
  			<div>
  				{% if tc.result_type > 0 %}
  				Test Case {{ count }}: <span class="badge badge-success">{{ tc.result_type }} Points</span>
  				{% endif %}
  				{% if tc.result_type == -1 %}
  				Test Case {{ count }}: <span class="badge badge-important">Wrong Answer</span>
  				{% endif %}
  				{% if tc.result_type == -2 %}
  				Test Case {{ count }}: <span class="badge badge-warning">{{ tc.result }}</span>
  				{% endif %}
  				{% if tc.result_type == -3 %}
  				Test Case {{ count }}: <span class="badge">{{ tc.result }}</span>
  				{% endif %}
  			</div>
  		{% set count = count + 1 %}

  		{% else %}
  		<div class="alert alert-error">You have no submissions</div>
  		{% endfor %}
  		</div>
  		</div>
  		</div>
  	{% endfor %}
  	</div>
  </div>
  </div><!-- /.row -->

{% endblock %}

